a {
  transition: color .3s;
  -moz-transition: color .3s;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
}

.loader,
.error-notification,
.success-notification {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 2100;
  text-align: center;
  color: #fff;
  padding-top: 40px;
}

.loader {
  background: rgba(0, 0, 0, .7);
}

.error-notification {
  background: rgba(240, 65, 36, .8);
}

.success-notification {
  background: rgba(67, 172, 106, .8);
}

.alert-bg {
  &:hover, &:focus {
    background-color: #b3240c !important;
    border-color: #b3240c !important;
  }
  background-color: #f04124;
}

.top-bar {
  .title-area {
    .name {
      h1 {
        small {
          font-size: .5em;
          color: #fefefe !important;
        }
      }
    }
  }
  section {
    & > .left {
      margin: 0 0 0 10px;
    }
    .has-form {
      input, button, .button {
        top: .65rem;
      }
      & > div {
        margin: 7px 0 0;
      }
      min-width: 300px;
      // width: 100%;
      background: rgba(0, 0, 0, .02); // 3D403F
      margin: 0 auto;
    }
    img {
      margin-top: -5px;
    }
    .has-dropdown {
      .dropdown {
        li > a {
          i {
            margin: 0 15px 0 0;
          }
          padding: 0 20px !important;
          line-height: 50px !important;
          text-align: left;
        }
        min-width: 150px;
        font-size: 13px
      }
    }
    .alert {
      background: #f04124 !important;
      &:hover {
        background: #b3240c !important;
      }
    }
  }
}

.list-display .vacstatus-list-button {
  text-align: center;
}

table .button {
  font-size: 0.8rem;
  margin: 0 auto;
  padding: 8px 15px;
}

.reveal-modal {
  width: 100%;
}

.wrap {
  .alert-box {
    margin: 15px 0 5px;
  }
}

.text-success {
  color: #43AC6A;
}

.text-alert {
  color: #f04124;
}

.footer {
  p {
    font-size: 13px;
    color: #999;
    background: #eee;
  }
  background: #eee;
  position: relative;
  margin-top: -70px;
  padding: 25px 0 0;
  min-height: 70px;
  clear: both;
}

#advSearchModal {
  textarea {
    height: 200px;
  }
}
.error, .success {
  input, textarea, select {
    margin-bottom: 0;
  }
}

span, small {
  &.error, &.success {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    color: #fff;
  }

  &.error {
    background: #f04124;
  }

  &.success {
    background: #43AC6A;
  }
}

.list-subscribe {
  a {
    color: #333;
    border-bottom: 0;
  }
  margin: 0 15px 0 0;
}

.tooltip {
  word-wrap: break-word;
}
