.thisisnews {
  .news-content{
    h2 {
      font-size: 32px;
      color: #333;
    }
    p {
      font-size: 15px;
      line-height: 175%;
    }
    margin: 30px 20px 20px;
  }
}

.other-news {
  margin: 20px;
}
