APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file

STEAM_API=

MAIL_DOMAIN=
MAIL_SECRET=
MAIL_FROM_EMAIL=null
MAIL_FROM_NAME=null

PUSHBULLET_API=