.DS_Store
.env.local.php
.env.php
.sqlite
/app/config/app.php
/app/config/auth.php
/app/config/cache.php
/app/config/database.php
/app/config/mail.php
/app/config/remote.php
/app/config/session.php
/composer.phar
/app/storage/*
Thumbs.db

!/vendor/hybridauth/hybridauth/hybridauth/Hybrid/Providers/Steam.php
/vendor
