.example-screen {
  position: absolute;
  left: 0;
  right: 0;
  width: 90%;
  max-width: 478px;
  margin: 0 auto;
  z-index: 2;
}

.left.carousel-control,
.right.carousel-control {
  background: 0;
  color: #333;
}

.carousel-inner {
  max-width: 478px;
  margin: 0 auto;
}

h1 {
  padding: 20px 0 10px;
}
