<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

RewriteEngine On

# Redirect Trailing Slashes...
RewriteRule ^(.*)/$ /$1 [L,R=301]

# Handle Front Controller...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

<FilesMatch "\.(jpg|jpeg|png)$">
  Header set Cache-Control "max-age=7200, public, must-revalidat"
</FilesMatch>

<FilesMatch "\.(css|js)$">
  Header set Cache-Control "max-age=172800, public, must-revalidate"
</FilesMatch>
