.admin-table {
  margin: 20px 0 0;
}

.log {
  font-size: 13px;
  line-height: 200%;
}

.log-settings {
  font-size: 14px;
  padding: 0 10px;
}

.log-settings span {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: normal;
}

.log-settings span:hover,
.log-settings span.sel {
  font-weight: bold;
  text-decoration: underline;
}

.log .line {
  font-weight: bold;
  color: white;
  padding: 5px 10px;
  margin: 0;
  cursor: pointer;
  background: #5bc0de;
}

.log .line:hover {
  text-decoration: underline;
}

.log .line.line-warning {
  background: #f0ad4e;
}

.log .line.line-error {
  background: #d9534f;
}

.log .debug {
  display: none;
}
